<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Numbers</title>
</head>
<body>
<h1>Enter Numbers</h1>
<form action="/bst/enter-numbers" method="post">
    <label for="numbers">Enter Numbers:</label>
    <input type="text" id="numbers" name="numbers">
    <button type="submit">Submit</button>
</form>
<form action="/bst/previous-trees" method="get">
    <button type="submit">Show Previous</button>
</form>
</body>
</html>